
RABBITMQ_USER=
RABBITMQ_PASSWORD=
RABBITMQ_HOST=localhost

# Configuration PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Local development AWS configuration

AWS_ENDPOINT_URL=http://localhost:4566
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_DEFAULT_REGION=us-east-1


GREENLIGHT_API_KEY=change-me-in-production
DATABASE_URL=postgresql://greenlight:greenlight@localhost:5432/greenlight
